.information{
    display: flex;
    flex-wrap: nowrap;
}
.information div{
margin-right: 10px;
}
.btnsInfo{
    display:flex ;
    margin-top: -40px;
}



.errorMessage{
    color: red;
    font-size: 15px;
    margin-top: -10px;
}
  

