
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
/* ملف CSS */
.custom-scrollbar {
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: #888 #f1f1f1;     /* Firefox */

  /* Chrome, Edge, Safari */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 /* background-color: black; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --Typography-English-H-1-Font-Family: "Poppins", sans-serif;
  
    --Typography-English-H-1-Font-Family: 'Arial', sans-serif; /* Example */
  
  
}
.error{
  color: red;
  font-family: var(--Typography-English-H-1-Font-Family, Poppins);
  margin-left: 50px;
}

